In [1]:
import pandas as pd

In [167]:
df = pd.read_csv('C:/Users/Алексей Корнейчук/Documents/anaconda/ds_course_brunoyam/data/dota_hero_stats.csv', sep=';')

In [88]:
df.head()

,attack_type,id,legs,localized_name,name,primary_attr,roles
0,Melee,1,2,Anti-Mage,npc_dota_hero_antimage,agi,"['Carry', 'Escape', 'Nuker']"
1,Melee,2,2,Axe,npc_dota_hero_axe,str,"['Initiator', 'Durable', 'Disabler', 'Jungler']"
2,Ranged,3,4,Bane,npc_dota_hero_bane,int,"['Support', 'Disabler', 'Nuker', 'Durable']"
3,Melee,4,2,Bloodseeker,npc_dota_hero_bloodseeker,agi,"['Carry', 'Disabler', 'Jungler', 'Nuker', 'Ini..."
4,Ranged,5,2,Crystal Maiden,npc_dota_hero_crystal_maiden,int,"['Support', 'Disabler', 'Nuker', 'Jungler']"

 # easy

In [37]:
df.groupby(['legs']).count()['name']

legs
0    11
2    95
4     7
6     3
8     1
Name: name, dtype: int64

# Normal

In [74]:
df.groupby(['primary_attr', 'attack_type']).count()['name'][df.groupby(['primary_attr', 'attack_type']).count()['name'] == 40]

primary_attr  attack_type
int           Ranged         40
Name: name, dtype: int64

In [ ]:
df.groupby(['primary_attr', 'attack_type']).count()

In [81]:
df.groupby(['primary_attr', 'attack_type']).count()['name']

                          id  legs  localized_name  name  roles
primary_attr attack_type
agi          Melee        19    19              19    19     19
             Ranged       18    18              18    18     18
int          Melee         2     2               2     2      2
             Ranged       40    40              40    40     40
str          Melee        35    35              35    35     35
             Ranged        3     3               3     3      3

In [94]:
df['localized_name'][(df['attack_type'] == 'Ranged') & (df['primary_attr'] == 'int')]

2                     Bane
4           Crystal Maiden
12                    Puck
16            Storm Spirit
20              Windranger
21                    Zeus
23                    Lina
24                    Lion
25           Shadow Shaman
28            Witch Doctor
29                    Lich
31                  Enigma
32                  Tinker
34               Necrophos
35                 Warlock
37           Queen of Pain
41           Death Prophet
43                   Pugna
48                  Dazzle
50                 Leshrac
51        Nature's Prophet
56             Enchantress
62                  Jakiro
63                Batrider
64                    Chen
66      Ancient Apparition
72                 Invoker
73                Silencer
74       Outworld Devourer
77            Shadow Demon
84                  Rubick
85               Disruptor
88     Keeper of the Light
90                  Visage
99           Skywrath Mage
103                Techies
109                 Oracle
110          Winter Wyvern
113            Dark Willow
115             Grimstroke
Name: localized_name, dtype: object

# Hard

In [183]:
df['roles'] = df['roles'].apply(lambda x: x.replace("'",""))

In [203]:
df['new_roles'] = df['roles'].apply(lambda x: x.replace("[",""))

In [204]:
df['new_roles'] = df['new_roles'].apply(lambda x: x.replace("]",""))

In [205]:
df['new_roles'] = df['new_roles'].apply(lambda x: x.replace(",",""))

In [206]:
df['new_roles'] = df['new_roles'].apply(lambda x: x.split())

In [207]:
df.head()

,attack_type,id,legs,localized_name,name,primary_attr,roles,new_roles
0,Melee,1,2,Anti-Mage,npc_dota_hero_antimage,agi,"[Carry, Escape, Nuker]","[Carry, Escape, Nuker]"
1,Melee,2,2,Axe,npc_dota_hero_axe,str,"[Initiator, Durable, Disabler, Jungler]","[Initiator, Durable, Disabler, Jungler]"
2,Ranged,3,4,Bane,npc_dota_hero_bane,int,"[Support, Disabler, Nuker, Durable]","[Support, Disabler, Nuker, Durable]"
3,Melee,4,2,Bloodseeker,npc_dota_hero_bloodseeker,agi,"[Carry, Disabler, Jungler, Nuker, Initiator]","[Carry, Disabler, Jungler, Nuker, Initiator]"
4,Ranged,5,2,Crystal Maiden,npc_dota_hero_crystal_maiden,int,"[Support, Disabler, Nuker, Jungler]","[Support, Disabler, Nuker, Jungler]"

In [208]:
extended_df_with_roles = df.explode('new_roles')

In [209]:
extended_df_with_roles.groupby(['new_roles', 'primary_attr']).count()['localized_name']

new_roles  primary_attr
Carry      agi             33
           int             12
           str             19
Disabler   agi             20
           int             35
           str             31
Durable    agi             10
           int              5
           str             32
Escape     agi             23
           int             11
           str             13
Initiator  agi             11
           int             12
           str             30
Jungler    agi              3
           int              8
           str              4
Nuker      agi             21
           int             36
           str             27
Pusher     agi             13
           int             12
           str              4
Support    agi              4
           int             27
           str             12
Name: localized_name, dtype: int64